html
  body
    .preview
      .qr
        margin 50px 0
        border-radius $border-radius

      .button
        margin 50px 10px

        &.copy
          transition background .5s

          i.fa-check
            animation max-width .3s ease-out