html
    head
        title Quantum

        link(href='./node_modules/@fortawesome/fontawesome-free/css/all.css' rel='stylesheet')
        link(href='./styles/main.css' rel='stylesheet' )

        link(href='../icons/icon.png' type='image/png' rel='icon')

        script(src='node_modules/confetti-js/dist/index.min.js')
        script(src='js/onceupon.js')
        script(src='js/main.js')

        meta(name='viewport' content='width=device-width, initial-scale=1')
    body
        .render