.index
    a(href='#').button.-settings
        i.fas.fa-cog
    canvas#canvas
    img(src='../icons/icon.png' width='100px' height='100px').icon
    h1 Quantum
    p A browser extension that syncs your current page with all your devices.
    a.button.-important.index--sync
        i.fas.fa-sync
        | Sync
    a.button.index--share
        i.fas.fa-share
        | Share