.share
    a(href='#').button.-back
        i.fas.fa-arrow-left
    h1 Settings
    p Change the default theme for the Quantum extension.
    .switch
        label
            | Light
            input(type='checkbox').checkbox
            span.lever
            | Dark