.share
    a(href='#').button.-back
        i.fas.fa-arrow-left
    h1 Share
    p Please select a element where your device should scroll.

    a(href='#').button.-important.close
        i.fas.fa-check
        | Got it