.sync
    a(href='#').button.-back
        i.fas.fa-arrow-left
    h1 Sync
    .banner.-hidden
        .banner--message
            i.fas.fa-exclamation-triangle
            | No camera found!
        .banner--dismiss
            i.fas.fa-times
    p Scan the qr code (if supported) or just paste the generated link into your browser.
    video.video(width='500px' height='500px')