@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap')

@import 'base/_variables';
@import 'base/_reset';
@import 'base/_typography';
@import 'base/_base'
@import 'base/_animations'

@import 'components/_banner';
@import 'components/_buttons';
@import 'components/_input';
@import 'components/_switch';

@import 'pages/_index'
@import 'pages/_preview'