html
    body
        font-family 'Roboto', sans-serif
        font-weight 400
        font-size 1.1em

        h1
            font-weight 900
            font-size 3.7em
            margin 20px 0
        
        p
            font-size 1.25em
            font-weight 300
            color $grey
            margin 40px 20px