html body .navigation {
  margin: 20px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 5px 12px 0 rgba(47,50,63,0.1);
  background: $background-highlight;
  border-radius: $border-radius;
}
html body .navigation a.navigation--element {
  display: inline-block;
  margin: 0 25px;
  text-decoration: none;
  color: $white;
  font-weight: 400;
  transition: color 0.3s;
}
html body .navigation a.navigation--element i {
  margin: 0 5px 0 0;
}
html body .navigation a.navigation--element.-active {
  font-weight: bold;
}
